<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="test">
      <h1>Welcome <%= data.at(-2).username %></h1>
      <h1>password is <%= data.at(-2).password %></h1>
      <h1>Enter your name</h1>
      <form action="/login" method="post">
        <input type="text" name="username" />
        <br />
        <br />
        <input type="password" name="password" />
        <br />
        <br />
        <button>login</button>
      </form>
    </div>
  </body>
</html>
<style>
  .test {
    width: 100%;
    margin: 10px auto;
    text-align: center;
  }
  input {
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 5px;
    padding: 10px;
  }
</style>
